/**
 *  SOLAR PORTAL CSS
 *
 *  Authors:
 *  Willy Nugraha     (willymiiee@gmail.com)
 *  Ragadipa Suharto
*/

/*============================================*/
/*                Default CSS                 */
/*============================================*/
@font-face { font-family: 'Lato-Black'; src: url('../fonts/Lato-Black.ttf'); }
@font-face { font-family: 'Lato-Bold'; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: 'Montserrat-Bold'; src: url('../fonts/Montserrat-Bold.ttf'); }
@font-face { font-family: 'Montserrat-Regular'; src: url('../fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: 'OpenSans-Bold'; src: url('../fonts/OpenSans-Bold.ttf'); }
@font-face { font-family: 'OpenSans-Regular'; src: url('../fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: 'OpenSans-SemiBold'; src: url('../fonts/OpenSans-SemiBold.ttf'); }

.light-orange { color: #ffcb05; }

body { margin: 0 !important; }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.section-title {
    color: #3d5a80;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    text-align: center;
}
.section-line {
    width: 168px;
    height: 4px;
    margin: 16px auto 30px;
    background-color: #f7b72d;
}
a, a:hover { text-decoration: none; color: #000; }
#share-fb, #share-fb:hover { color: #3B5998; }
#share-tw, #share-tw:hover { color: #0084b4; }
#share-gp, #share-gp:hover { color: #d34836; }
.readmore { color: #fff; font-weight: bold; }
.more-btn-container { margin: 40px auto 0; }
.btn-more {
    /* width: 280px; */
    height: 100%;
    border-radius: 30px;
    background-color: #f7b72d;
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 34.5px 16px 35.5px;
}
.copyright { font-family: 'OpenSans-Bold'; font-size: 14px; }

/*============================================*/
/*                  Nav Bar                   */
/*============================================*/
.menu-container {
    padding: 26px 30px 30px 28px;
    background-color: #51504e;
}
.nav-menu {
    overflow: hidden;
    font-family: 'OpenSans-Bold';
}
.nav-menu > li {
    float: left;
    margin: 0 16px;
}
.nav-menu > li > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.nav-menu > li > a:hover, .nav-menu > li > a:active { color: #ffcb05; }

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}

/*============================================*/
/*              Homepage Search               */
/*============================================*/
.homepage-search {
    height: 100%;
    background-image: url('../img/search_new.jpg');
    background-size: cover;
    background-position: center;
    padding: 170px 0;
}
.homepage-search-title {
    height: 100%;
    color: #fff;
    font-family: 'OpenSans-Bold';
    font-size: 64px;
    /* -webkit-text-stroke: 0.7px #000; */
}
#search-form { padding: 0 100px; }
#searchSelect {
    width: 168px;
    height: 60px;
    background-color: #fff;
    float:left;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    color: #392302;
    text-align: center;
}
#searchInput {
    width: 700px;
    height: 60px;
    float: left;
    padding: 0 !important;
    border: 0 !important;
}
#searchInput[placeholder] {
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    color: #392302;
}
#searchBtn {
    width: 164px;
    height: 60px;
    background-color: #f7b72d;
    display: inline-block;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding-top: 18px;
}

/*============================================*/
/*            Coordinator Section             */
/*============================================*/
#coordinator {
    height: 100%;
    background: #fff;
}
#coordinator-title { margin-top: 80px; }
.coordinator-item { margin: 20px 0 70px; text-align: center; }
.coordinator-item > img { height: 190px; }

/*============================================*/
/*              Buttons Section               */
/*============================================*/
#buttons {
    height: 100%;
    background: #fff;
    padding: 80px 0 90px;
}

/*============================================*/
/*              Signing Section               */
/*============================================*/
#signed {
    height: 100%;
    background: #fff;
    padding-bottom: 40px;
}
#signed-title { margin-top: 80px; }
.signed-item { margin: 20px 0; text-align: center; }
.signed-item > img { width: 140px; }

/*============================================*/
/*               About Section                */
/*============================================*/
#about-img {
    padding: 0 !important;
    height: 658px;
    background-image: url('../img/about.jpg');
    background-position: 32% 0%;
    background-size: cover;
}
#about-content {
    min-height: 658px;
    background-color: #f7b72d;
    padding: 80px 40px 80px 40px;
}
#about-title {
    /* width: 468px; */
    /* height: 114px; */
    font-family: 'Montserrat-Bold';
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
#about-description {
    margin-top: 24px;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

/*============================================*/
/*                Blog Section                */
/*============================================*/
#blog {
    height: 100%;
    background: #fff;
    padding-bottom: 80px;
}
#blog-title { margin-top: 80px; }
.blog-item {
    /* height: 100%; */
    background-clip: content-box;
    background-color: #dfddf0;
    text-align: center;
    margin-top: 50px;
}
.blog-cover {
    width: 100%;
    height: 100%;
    max-height: 250px;
    /* margin: 24px 24px 32px 24px; */
    padding: 25px;
    display: block;
    object-fit: cover;
}
.blog-item-title {
    color: #3d4065;
    font-family: 'Lato-Bold';
    font-size: 25px;
    padding: 0 20px;
}
.blog-item-content {
    color: #3d4065;
    height: 66px;
    font-family: 'Lato-Bold';
    font-size: 13px;
    margin: 5% 3.5%;
}
.blog-item-readmore {
    width: 168px;
    height: 44px;
    border-radius: 22px;
    background-color: #f7b72d;
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 14px;
    margin: 24px auto 40px;
    display: inline-block;
}

/*============================================*/
/*               Benefit Section              */
/*============================================*/
#benefit {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(52,52,52,0.6),rgba(52,52,52,0.6)), url('../img/search_new.jpg');
    background-size: cover;
    /* background-position: 0% 65%; */
    /* -webkit-filter: blur(3.4px);
    filter: blur(3.4px); */
}
#benefit-title {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    margin-bottom: 60px;
}
.benefit-item {
    text-align: center;
    color: #fff;
    margin-top: 32px;
}
.benefit-item > i {
    margin-top: 10px;
    font-size: 100px;
    display: block;
}
.benefit-item > span {
    margin-top: 8px;
    width: 173px;
    height: 67px;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}

/*============================================*/
/*             Participant Section            */
/*============================================*/
#participant {
    height: 100%;
    padding-bottom: 55px;
}
#participant-title { margin-top: 47px; }
#participant-items {
    margin-top: 50px;
    text-align: center;
}
.participant-item {
    margin: 40px 0;
}

/*============================================*/
/*                   Footer                   */
/*============================================*/
footer {
    height: 100%;
    background: #f7b72d;
    padding: 20px 0;
}
.footer-col { margin-top: 40px; }
.footer-col-title {
    color: #392302;
    font-family: 'Lato-Black';
    font-size: 14px;
    text-transform: uppercase;
}
.footer-col-content {
    width: 95%;
    margin-top: 24px;
    padding-right: 50px;
}
.footer-col-content > i {
    margin-right: 8px;
}
.footer-col-content span {
    font-size: 14px;
    color: #7b4a02;
    font-family: 'OpenSans-Bold';
}
.footer-col-content > ul {
    list-style: none;
    padding-left: 0;
}
.footer-col-content > ul > li {
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    color: #7b4a02;
    border-bottom: solid 1px #7b4a02;
    padding: 8px 0;
}
.footer-col-content > ul > li > a {
    margin-left: 8px;
    color: #7b4a02;
    text-decoration: none;
}
.footer-col-content > a {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    color: #7b4a02;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}
.footer-col-content > #footerSearch {
    width: 80%;
    height: 46px;
    float: left;
    padding: 0 !important;
    border: 0 !important;
}
.footer-col-content > #footerSearchBtn {
    width: 20%;
    height: 46px;
    background-color: #7b4a02;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    padding-top: 11px;
}

@media(max-width: 415px){
    .homepage-search { padding: 20px 0; }
    .btn-more { font-size: 11px; }
}
@media(max-width: 600px){
    .homepage-search { padding: 90px 0; }
    .btn-more { font-size: 12px; }
}
