/**
 *  SOLAR PORTAL CSS
 *
 *  Authors:
 *  Willy Nugraha     (willymiiee@gmail.com)
 *  Ragadipa Suharto
*/

/*============================================*/
/*                Default CSS                 */
/*============================================*/
@font-face { font-family: 'Lato-Black'; src: url('../fonts/Lato-Black.ttf'); }
@font-face { font-family: 'Lato-Bold'; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: 'Montserrat-Bold'; src: url('../fonts/Montserrat-Bold.ttf'); }
@font-face { font-family: 'Montserrat-Regular'; src: url('../fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: 'OpenSans-Bold'; src: url('../fonts/OpenSans-Bold.ttf'); }
@font-face { font-family: 'OpenSans-Regular'; src: url('../fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: 'OpenSans-SemiBold'; src: url('../fonts/OpenSans-SemiBold.ttf'); }

body { margin: 0 !important; }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.section-title {
    color: #3d5a80;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    text-align: center;
}
.section-line {
    width: 168px;
    height: 4px;
    margin: 16px auto 80px;
    background-color: #ed8f03;
}
.row {
    width: 100%;
}

/*============================================*/
/*                  Nav Bar                   */
/*============================================*/
.menu-container {
    height: 93px;
    opacity: 0.97;
    background-color: #51504e;
}
.logo {
    width: 181px;
    height: 44px;
    margin: 25px 28px;
    display: inline-block;
}
.logo > img { display: block; }
.nav-menu {
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 38px 137px 37px 0;
    font-family: 'OpenSans-Bold';
}
.nav-menu > li {
    float: left;
    margin: 0 16px;
}
.nav-menu > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
}
.nav-menu > li > a:hover, .nav-menu > li > a:active { color: #fdc100; }

/*============================================*/
/*              Homepage Search               */
/*============================================*/
.homepage-search {
    height: 700px;
    background-image: url('../img/search_new.jpg');
    background-repeat: no-repeat;
    background-position: 8% 32%;
    display: flex;
}
.homepage-search-title {
    height: 87px;
    color: #fff;
    font-family: 'OpenSans-Bold';
    text-align: center;
    font-size: 64px;
    margin: 234px auto 0;
    -webkit-text-stroke: 0.7px #000;
}
.homepage-searchbar {
    display: block;
    position: absolute;
    top: 457px;
    left: 127px;
}
.homepage-searchbar > #searchSelect {
    width: 168px;
    height: 60px;
    background-color: #fff;
    float:left;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    color: #392302;
    text-align: center;
}
.homepage-searchbar > #searchInput {
    width: 700px;
    height: 60px;
    float: left;
    padding: 0 !important;
    border: 0 !important;
}
.homepage-searchbar > #searchInput[placeholder] {
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    color: #392302;
}
.homepage-searchbar > #searchBtn {
    width: 164px;
    height: 42px;
    background-color: #ed8f03;
    display: inline-block;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding-top: 18px;
}

/*============================================*/
/*            Coordinator Section             */
/*============================================*/
.coordinator {
    height: 300px;
    background: #fff;
}
#coordinator-title { margin-top: 80px; }
.coordinator-item { margin-bottom: 100px; }

/*============================================*/
/*               About Section                */
/*============================================*/
.about {
    height: 658px;
}
.about-img {
    float: left;
    /* width: 892.1px; */
    width: 58.379%;
    height: 658px;
    overflow: hidden;
    display: block;
    background-image: url('../img/about.jpg');
    background-position: 32% 0%;
}
.about-content {
    /* width: 636px; */
    width: 35.48%;
    height: 498px;
    background-image: linear-gradient(316deg, #ed8f03, #ffb75e);
    padding: 80px 40px 80px 40px;
    overflow: hidden;
    float: right;
}
.about-title {
    width: 468px;
    height: 114px;
    font-family: 'Montserrat-Bold';
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
.about-description {
    margin-top: 24px;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

/*============================================*/
/*                Blog Section                */
/*============================================*/
.blog {
    height: 901px;
    background: #fff;
}
#blog-title { margin-top: 80px; }
.blog-container {
    margin: 80px auto;
    width: 83.4%;
    height: 484px;
}
.blog-item {
    float: left;
    /* width: 368px; */
    width: 31.1%;
    height: 484px;
    background-color: #dfddf0;
    margin: 0 1.1%;
    text-align: center;
}
.blog-cover {
    width: 87%;
    height: 41.3%;
    margin: 24px 24px 32px 24px;
}
.blog-item-title {
    color: #3d4065;
    font-family: 'Lato-Bold';
    font-size: 25px;
}
.blog-item-content {
    color: #3d4065;
    height: 66px;
    font-family: 'Lato-Bold';
    font-size: 13px;
    margin: 5% 3.5%;
}
.blog-item-readmore {
    width: 168px;
    height: 30px;
    border-radius: 22px;
    background-color: #ed8f03;
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 14px;
    margin: 24px auto;
    display: inline-block;
}
.blog-btn-readmore {
    width: 218px;
    height: 29px;
    border-radius: 30px;
    background-color: #ed8f03;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 34.5px 16px 35.5px;
    margin: 0 auto;
    display: block;
}

/*============================================*/
/*               Benefit Section              */
/*============================================*/
.benefit {
    height: 400px;
    padding-top: 40px;
    background-image: linear-gradient(rgba(52,52,52,0.6),rgba(52,52,52,0.6)), url('../img/search_new.jpg');
    background-position: 0% 65%;
    /* -webkit-filter: blur(3.4px);
    filter: blur(3.4px); */
}
#benefit-title {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    margin-bottom: 50px;
}
.benefit-items {
    list-style-type: none;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    display: block;
}
.benefit-items > li {
    float: left;
    margin: 0 16px;
    width: 203px;
    height: 194px;
}
.benefit-items > li > i {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    font-size: 100px;
}
.benefit-items > li > span {
    margin-top: 8px;
    width: 173px;
    height: 67px;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}

/*============================================*/
/*             Participant Section            */
/*============================================*/
.participant {
    height: 334px;
}
#participant-title { margin-top: 47px; }

/*============================================*/
/*                   Footer                   */
/*============================================*/
footer {
    height: 240px;
    background: #ed8f03;
    padding: 80px 8.6%;
}
.footer-col {
    float: left;
    width: 268px;
}
.footer-col-title {
    color: #392302;
    font-family: 'Lato-Black';
    font-size: 14px;
    text-transform: uppercase;
}
.footer-col-content {
    width: 95%;
    margin-top: 24px;
    padding-right: 50px;
}
.footer-col-content > i {
    margin-right: 8px;
}
.footer-col-content > span {
    font-size: 14px;
    color: #7b4a02;
    font-family: 'OpenSans-Bold';
}
.footer-col-content > ul {
    list-style: none;
    padding-left: 0;
}
.footer-col-content > ul > li {
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    color: #7b4a02;
    border-bottom: solid 1px #7b4a02;
    padding: 8px 0;
}
.footer-col-content > ul > li > a {
    margin-left: 8px;
    color: #7b4a02;
    text-decoration: none;
}
.footer-col-content > a {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    color: #7b4a02;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}
.footer-col-content > #footerSearch {
    width: 180px;
    height: 46px;
    float: left;
    padding: 0 !important;
    border: 0 !important;
}
.footer-col-content > #footerSearchBtn {
    width: 68px;
    height: 35px;
    background-color: #7b4a02;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    padding-top: 11px;
}
